A_Geometric_Theory_Of_Prechac_Transformations.aux
A_Geometric_Theory_Of_Prechac_Transformations.css
A_Geometric_Theory_Of_Prechac_Transformations.fdb_latexmk
A_Geometric_Theory_Of_Prechac_Transformations.fls
A_Geometric_Theory_Of_Prechac_Transformations.log
A_Geometric_Theory_Of_Prechac_Transformations.out
A_Geometric_Theory_Of_Prechac_Transformations.pdf
A_Geometric_Theory_Of_Prechac_Transformations.synctex.gz
A_Geometric_Theory_Of_Prechac_Transformations.toc
A_Geometric_Theory_Of_Prechac_Transformations2.html
A_Geometric_Theory_Of_Prechac_Transformations3.html
A_Geometric_Theory_Of_Prechac_Transformations4.html
A_Geometric_Theory_Of_Prechac_Transformations5.html
A_Geometric_Theory_Of_Prechac_Transformations6.html
A_Geometric_Theory_Of_Prechac_Transformations7.html
A_Geometric_Theory_Of_Prechac_Transformations8.html
A_Geometric_Theory_Of_Prechac_Transformations9.html
.DS_Store
